.box{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vh ;

    display: grid;
    grid-template-columns: 50% 50%   ;
    grid-template-rows: 50% 50%;

    color: #c2c2c2;
    /* color: #c3c3c3; */
    /* background-color: #5b5b62; */
 
    border-bottom: 0.1px solid #8b8b8b69;
    border-top: 0.1px solid #8b8b8b69;
    /* border-right: 0.1px solid #8b8b8b69; */
  }

 /* -----------------------------------------  */
.one{
  margin-bottom: 5em;
  margin-top: 1.4em;
  margin-left: 1.7em;

}
.logo-box{
  width: 3em;
  display: inline-block;
}

[data-name]{
  display: inline-block;
  font-size: 2em ;
}

[data-price]{
  margin-left: 2em;
  display: inline-block;
  font-size: 1.8em;
  font-weight: 900;
}
[data-per]{
  display: inline-block;

}

.two{
 margin-top: 1em;


    /* grid-template-rows: 50% 50%; */
 /* background-color: rgba(44, 44, 56, 0.294); */
}

.two h4{
  color: rgb(110, 110, 110);
}
.two h3{
  color: #c2c2c2;
}

.three{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: rgb(255, 255, 255);
 
}
.four{

  background-image: url('./curr.png');
  background-size: cover;
  background-position: center;
}

/* -------------------------------------------- */

input{
  font-size: 1em;
}

.equal{
  font-size: 2rem;
  font: bold;
}

input{
  border-radius: 0.2em;
  padding:0.2em;
  width: 8em;
}

/* -------------------------------- */
.green{
  color: rgb(30, 149, 30);
  font-weight: 900;

}

.red{
  color: rgb(199, 37, 37);
  font-weight: 900;
}
/* -------------------------------- */
