
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 18vh;
 
   font-size: 1.40em;
   font-weight: 900;
   display:flex;
   justify-content: space-around;
   align-items: center;
 
   background: rgb(56, 56, 63);
   color: rgb(255, 255, 255);
   /* color: rgb(255, 182, 98); */
   opacity: 0.8 ;
 
 }
 