.main{
  text-align: center;
    margin-top: 8vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 25vh;
  }

  /* ----------------------------------- */
  .title{
    color: #1f1d23;
    transition:  4s ease-in-out;
    margin-left: -4em;
  }

  .animated-title{
    color: rgb(200, 200, 200);
    transition:  1.8s ;
    margin-left: 0em;
  }
  /* ------------------------------------- */
  .back_background{
    opacity: 0;
    /* transition: 5s; */
  }

  .back_background-animated{
    
    /* margin-top: 2em; */
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 40vh;
    background-image: url(./gold.png) ;
    background-position: center;
    background-size: cover;
    transition: 2.5s;
    animation: ingot 5s infinite;
  }

  /* @keyframes ingot {
    0% {
      background-color: #001F3F;
    }
    50% {
      padding-left: 0.2em;
      background-color: #FF4136;
    }
    100% {
      background-color: #001F3F;
    }
  } */
  

  .presentation{
   
    display: grid;
    grid-template-rows: auto;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 40vh;
    background-image: url(./mainBtc.png);
    background-position: center;
    background-size: cover;
  }

  

/* --------------------------------------------- */

.window-one{
  background-color: #1f1d23;

}

.animated-window-one{
  background-color: #1f1d23;

}

.window-two{
    background-color: #1f1d23;
    /* margin-top: 30em; */
    /* animation-timing-function: 3.4s cubic-bezier(.39,-0.1,.16,1.49); */
}

.animated-window-two{
  background-color: #1f1d23;
  margin-top: 30em;
  transition: 3s cubic-bezier(.41,.74,.56,.38);
  

}