@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,800&display=swap');

h1{
  font-size: 2em;
  font-family: 'EB Garamond', serif;
}

.logo{
  max-height: 2em;
}

nav{
  font-size: 1.40em;
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  min-width: 100vw;
  background: rgb(255, 136, 0);
  color: white;
  text-decoration: none;
  list-style-type: none;

  position: relative;

}


.nav-links li{
  color: rgb(230, 230, 230);
}


.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}


.nav-links :hover{
  color:rgb(0, 157, 230);
  
}


  /* ----responsive------ */

  @media screen and (max-width:900px) {

    
  .logo{
    align-content: flex-start;
    max-height: 2em;
    display: inline-flex;
  }


  }


 @media screen and (max-width:420px) {

 .logo{
   display: none;
  
 }

}

