.logo{
  max-height: 2em;
}

nav{
  font-size: 1.40em;
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  min-width: 100vw;
  background: rgb(255, 136, 0);
  color: white;
  text-decoration: none;
  
  list-style-type: none;

 
  display: flex;
 
  /* align-items: center; */
  position: relative;

}

#menu-toggle{
  display: none;
}
.nav-links li{
  color: rgb(230, 230, 230);
}


.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}


.nav-links :hover{
  color:rgb(0, 157, 230);
}


.btn {
  display: none;
}
  

 @media screen and (max-width:900px) {

  .btn{
    display: block;
    position: absolute;
    right: 1em;
    top: 0.5em;
    display: inline;
    cursor: pointer;
  }

  .line{
    background: rgb(255, 199, 108);
    width: 35px;
    height: 5px;
    margin: 5px;
    border-radius: 10px;
  }


  .nav-links {
    flex-direction: column;
    height: auto;
    /* margin-bottom: 0.5em; */
    margin-bottom: 1em;
    margin-top: 0.5em;
}
li:nth-child(1){
  margin-bottom: 0em;
    margin-top: 0em;
}

li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 1em;
    margin: 1em;
}
/* .btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 7px;
  
    color: #000;
    font-size: 1em;
    margin-right: 1em;
} */


}


  /* ----responsive------ */


 /* @media screen and (max-width:900px) {
    .menu{
 
      display: inline;
      cursor: pointer;
      transition: 5s;
    }

    .line{
      background: rgb(255, 199, 108);
      width: 35px;
      height: 5px;
      margin: 5px;
      border-radius: 10px;
    }

    .logo{
    display: none;
    }

    label {  
      cursor: pointer;
    }

    .nav-links {
      display: none;
     
    }
    #menu-toggle:checked + .nav-links {
      display: inline;
      margin-top: 1em;
      
    }

    #menu-toggle:checked + ul li {
      padding: 1em;
    }

 

 } */


