.currencies{
    margin-top: 11vh ;
    padding-bottom: 29vh;
    color: rgb(0, 0, 0);
    max-width: 50%;

  }

.symbol {
  font-size: 1.2em;
  font-weight: 900;
}

.name{
  font-size: 0.9em;
}

.logos{
  /* float: left; */
	width: 1.7em;
}


  /* ----------------------------------------------------- */

  table{
    border-collapse: collapse;
    /* font-size: 20px; */
    font-size: 1.1em;
    font-weight: normal;
    background-color: #26262e;
    color: rgb(204, 204, 204);
    width: 70vw;
    margin-left: 11vw;
    margin-right: 11vw;
    
  }

  table thead tr{
    background-color: #313136;
    color: #adadaf;
    text-align: left;
  }

  thead  th{
    padding: 1em;
 
  }

  table td{
    padding: 0.6em; 
  }

  table tbody tr{
    
    border-bottom: 0.1px solid #8b8b8b69;
  }

  .green{
    color: rgb(30, 149, 30);
    font-weight: 900;
  
  }

  .red{
    color: rgb(199, 37, 37);
    font-weight: 900;
  }


/* -------responsive----------- */

  @media screen and (max-width:900px) {

    table{ 
      font-size: 1em;
      width: 70vw;
      margin-left: 12vw;
      margin-right: 15vw;
    }
   }

   @media screen and (max-width:655px) {

    table{
      width: 70vw;
      font-size: 0.9em;
      margin-right: 10vw;
      margin-left: 10vw;
    }

   }
   

   /* --------iphone --------- */
   @media screen and (max-width:415px) {
    table{
      font-size: 0.6em;
      margin-left: 7.5vw;
    }  
   }


    /* --------Moto G4 --------- */
    @media screen and (max-width:361px) {

      table{
        width: 70vw;
        font-size: 0.6em;
        margin-right: 10vw;
        margin-left: 5vw; 
      }
     
     }
  

   /* --------iphone 5 ---------- */
   @media screen and (max-width:358px) {

    table{
      width: 70vw;
      font-size: 0.5em;
      margin-right: 9vw;
      margin-left: 6vw;
    }
   }

   
   