.currencies{
    margin-top: 11vh ;
    padding-bottom: 29vh;
    color: rgb(0, 0, 0);
  }

  h1{
	  margin: 4vw;
  }
 
  .div-container{
	  font-size: 20px;
	display: flex;

	
	margin: 4vw;
  }

table th{

 padding-right: 1em;
}

.name{
  font-size: 0.9em;
 
}

.symbol{
  font-size: 1.2em;
  font-weight: 900;
}

.logos{

	width: 1.7em;
}


  

