@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}


body{
  position: relative;
  min-height: 100vh;
  font-family: 'Roboto','Times New Roman' ;
  font-weight: 0;
  /* background-image: url(background3.jpg); */
  background-color: #1f1d23;
  
}
